<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dashboard Title{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!--  <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>-->
  <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css?1422792965" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialadmin.css?1425466319" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/font-awesome.min.css?1422529194" />
  <link type="text/css" rel="stylesheet" href="/stylesheets/material-design-iconic-font.min.css?1421434286" />

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script src="/javascripts/libs/jquery/jquery-1.11.2.min.js"></script>
  <script src="/javascripts/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="/javascripts/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/javascripts/libs/bootstrap/bootstrap-multiselect.js"/>
  <script src="/javascripts/libs/spin.js/spin.min.js"></script>
  <script src="/javascripts/libs/autosize/jquery.autosize.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

</head>
<body style="background-color:#FFF;">
{% include "./partials/flash.html" %}
<div class="container-fluid container-max" style="background-color: #FFF; height: 100%;">
  <div class="header-fixed">
    <h3>Billings</h3>
  </div>
  <div class="row">
    <div class="row col-md-6 col-md-offset-3 col-sm-12">
      <div style="display:flex; flex-direction: row; padding: 20px">
        <div style="flex: 1">
          <img src="/images/norton.jpg" style="width: 100%;padding: 2%; position: relative; align-content: center; top: 50%; transform: translateY(-50%); "/>
        </div>
        <div style="flex: 2">
          <a href="/dashboard"><img src="/images/queensmtp.png" style="width: 100%;padding: 2%; position: relative; align-content: center; top: 50%; transform: translateY(-50%); "/></a>
        </div>
        <div style="flex: 1">
          <img src="/images/seal2.png" style="width: 100%;padding: 2%; position: relative; align-content: center; top: 50%; transform: translateY(-50%); "/>
        </div>
      </div>

      <div class="container card-body col-md-12" >
        <form {% if !user.stripe.last4 %}id="cardForm"{% endif %} action="/user/signup/billing" method="POST" class="form-horizontal">
          <div class="card">
            <div class="card-head style-primary" style="margin: 10px">
              <header>SUBSCRIPTION WILL BE MIDEL</header>
            </div>
            <div class="card-body">
              <div id="cardWrapper">
                <div class="form-group">
                  <input hidden name="plan" value={{user.stripe.plan}}>
                  <p style="text-align: center; font-size: 15px; color: #e11b0c">
                  Secure Transaction by 128-bit industry leading SSL encryption. Don’t worry, you are safe here.
                </p>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Card Number</label>
                  <div class="col-sm-4">
                    <input id="card-num" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Card Details</label>
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-xs-4">
                        <input id="card-month" type="text" size="2" maxlength="2" class="form-control" placeholder="MM">
                      </div>
                      <div class="col-xs-4">
                        <input id="card-year"  type="text" size="2" maxlength="2" class="form-control" placeholder="YY">
                      </div>
                      <div class="col-xs-4">
                        <input id="card-cvc" type="text" size="3" maxlength="3" class="form-control" placeholder="CVC">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                    <div id="cardFormError" class="alert alert-danger hidden" role="alert">
                      <p>{{error}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                  <button type="submit" class="btn btn-primary">Getting Started</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
          <form action="/users/billing/plan/free" method="POST">
            <input type="hidden" value="free" name="plan"/>
            <div class="form-group">
              <button type="submit" class="btn-primary" style=" width: 100%">Start With Free</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript">
  Stripe.setPublishableKey('{{stripePubKey}}');
</script>
<script src="/javascripts/app.js"></script>
</html>

